.PullRequest {
  border: 1px solid gray;
  display: flex;
  margin: 10px 2% 10px 2%;
  position: relative;
  height: 10%;
  width: 100%;
}

.PullRequest-header, .author-name {
  text-align: left;
}

.author-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  margin-right: 1%;
  width: 100px;
}

.author-name {
  display: block;
}

.pr-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
